@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: fixed;
    display: flex;
    
    align-items: center;
    background-color: #F0E6EF;
    width: 100%;
    justify-content: space-between;
    color: #F0A6CA;
    
}

.logo {
    display: flex;
    font-size: 24px;
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 300;
}

.logo:hover {
    font-size: 30px;
}

.detalhe__logo {
    color: #B8BEDD;
}

.container__menu {
    margin-right: 150px;
}

.menu {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    list-style: none;
    margin: 3px;
}

.menu a {
    text-decoration: none;
    color: #9C89B8;
    font-weight: 700;
}

.menu a:hover {
    color: #B8BEDD;
    border-radius: 10px;
}

.menu li {
    margin: 30px;
}

@media (max-width:700px) {
    .logo {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
}