@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-background: #F7B267;
    --color-primary: #F4845F;
    --default-padding: 1rem;
    color: var(--color-copy);
}

.container {
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #F4845F;
    background-color: #F7B267;
    height: 7.75rem;
    
}

.logo {
    display: flex;
    font-size: 24px;
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .1rem;
}

.logo:hover {
    font-size: 30px;
}
 
.detalhe__logo {
    color: #F25C54;
}


.container__menu {
    margin-right: 150px;
}

.menu {
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    list-style: none;
    margin: 3px;
    font-size: 1.250rem;
}

.menu a {
    text-decoration: none;
    color: #F4845F;
    font-weight: 700;
}

.menu a:hover {
    color: #F25C54;
    border-radius: 10px;
}

.menu li {
    margin: 30px;
}

#slider {
    background-color: #F7B267;
    color: var(--color-primary);
}

.slide {
    position: relative;
    height: calc(96vh - 7.75rem);
}

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
}

.slide__copy {
    position: absolute;
    top: 6rem;
    left: 65vw; 

}

.logo__slide {
    color: #F4845F;
    font-weight: 500;
    font-size: min(40px, 5vw);
    letter-spacing: 0.1rem ;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.slide__copy p {
    text-transform: uppercase;
    font-size: min(16px, 3vw);
    color: #F25C54;
    margin-right: 5px;
    font-weight: 700;
}

.icon {
    font-size: max(30px, 2vw);
}

.slide__copy p {
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.counter__container ul{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    text-transform: uppercase;
    list-style: none;
    font-weight: 300;
    
}

.counter__container h3 {
    font-size: max(1.750rem, 5vw);
}

.counter__container small{
    
    font-size: max(1rem, 2vw);
}

.counter--center {
    margin-left: 60px;
    font-size: 1.954rem;
}


.titulo {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    color: #F7B267;
    text-transform: uppercase;
    font-size: max(24);
}


.rodape {
    background-color: #F7B267;
}

.logo__rodape {
    display: flex;
    position: relative;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #F25C54;
}

@media screen and (max-width:900px) {

.logo {
    display: none;
}

.menu {
        display: flex;
        flex-direction: column;
    }

.menu li {
    margin: 0;
}

.slide__copy {
    inset: absolute;
    bottom: auto;
    left: auto;
    color: #FFF;
}

.logo__rodape {
    margin: 0;
    font-size: 10px;
}